<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <form action="createTeam" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" />
      <% for(let i = 1; i <= 6; i++) { %>
      <label for="poke<%= i%>">Pokemon <%= i%></label>
      <select name="poke<%= i%>" id="poke<%= i%>">
        <% if(i === 1) { %>
        <option value="" disabled selected>-</option>

        <% } else { %>
        <option value="" selected>-</option>

        <% } %> <% poke.map(mon => { %>
        <option value="<%= mon.dexnr%>">
          #<%= mon.dexnr %>| <%= mon.name %>
        </option>
        <% }) %>
      </select>
      <% } %>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
