<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= trainer.name %></h1>
    <p><%= trainer.gender %></p>
    <p>Position in Elite 4: <%= trainer.pos %></p>
    <p>Generation: <%= trainer.generationname %></p>
    <% if(team) { %>
    <div>
      <h3>Team: <%= team.name %></h3>
      <p>
        #<%= team.pokemon_one %>| <%= team.poke1 %> ||| #<%= team.pokemon_two
        %>| <%= team.poke2 %>
      </p>
      <p>
        #<%= team.pokemon_three %>| <%= team.poke3 %> ||| #<%= team.pokemon_four
        %>| <%= team.poke4 %>
      </p>
      <p>
        #<%= team.pokemon_five %>| <%= team.poke5 %> ||| #<%= team.pokemon_six
        %>| <%= team.poke6 %>
      </p>
      <form action="/teams/<%= team.id %>" method="get">
        <button type="submit">View Team Details</button>
      </form>
    </div>
    <% } %>
  </body>
</html>
